.main-view {
  background: rgb(59,0,69);
  background: linear-gradient(10deg, rgba(59,0,69,1) 0%, rgba(170,0,236,1) 49%, rgba(238,0,197,1) 100%);
  margin: 0;
  width: 100%;
  height: 100vh;
  flex-wrap: nowrap;
}

.map-view {
  background: bisque;
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  border-radius: 30px 0 0 30px;
  margin: 45px 0 45px 45px;
}

#map {
  height: 100%;
  width: 100%;
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  border-radius: 30px 0 0 30px;
}
