/* You can add global styles to this file, and also import other style files */
@import "app/app.component";
@import "app/generic-input/generic-input.component";
@import "app/sign-in/sign-in.component";
@import "app/sign-up/sign-up.component";
@import "app/menu-button/menu-button.component";
@import "app/menu/menu.component";
